body {
    background-color: #A02E2B;
}

h1 {
    color: #FFDA56;
    margin: 10px;
}
h2 {
    background-color: #A02E2B;
    border: 2.5px solid #FFDA56;
    color: #ffffff;
    margin: 10px;
    font-size: 175%;
    text-decoration: underline;
}
h6 {
    color: #FFDA56;
    margin: 10px;
    background-color:#A02E2B;
    border: 5px solid #111111;
    container-type: inline-size; 
    font-size: clamp(75%, 150%, 225%);
    overflow-wrap: break-word; 
    width: 250px; 
    height:75px; 
    text-align: center;
}

p {
    color: #FFDA56;
    padding: 5px;
    margin: 5px;
    font-size: 150%;
}

table {
    table-layout: fixed;
    border-collapse: separate; 
}
th, td {
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #111111; 
    border: 5px solid #FFDA56;
    color: #FFDA56;
    padding: 5px;
    margin: 5px;
    font-size: 150%;
    transition-duration: 0.5s;
}
button:hover {
    background-color: #A02E2B; 
    color: #ffffff;
}

a:link {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #111111;
    background-color: transparent;
    text-decoration: underline;
}

.rightfloat {
    margin-left: auto
}

.floater {
    position: sticky;
    top: 0;
}

.vcenter {
    display: flex;
    align-items: center;
}
.hcenter {
    display: flex;
    justify-content: center;
}
.acenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    gap: 15px;
    padding: 5px;
    height: 550px; 
    overflow-y: auto; 
}
.container div {
    padding: 10px;
}
.container div.header {
    grid-area: header;
    text-align: center;
}
.container div.menu {
    grid-area: menu;
}
.container div.content {
    grid-area: content;
}
.container div.footer {
    grid-area: footer;
    text-align: center;  
}

.gridcard {
    background-color: #A02E2B; 
    border: 5px solid #FFDA56;
}
