body {
    background-color: #A02E2B;
}
title {
    color: #FFDA56;
    border: 5px solid #FFDA56;
}
h1 {
    color: #FFDA56;
}
p {
    color: #FFDA56;
    border: 5px solid #FFDA56;
    padding: 30px;
    margin: 50px;
}