body {
    background-color: #A02E2B;
}

h1 {
    color: #FFDA56;
    margin: 10px;
}
h2 {
    color: #111111;
    margin: 15px;
    font-size: 200%;
    text-decoration: underline;
}

p {
    color: #FFDA56;
    padding: 30px;
    margin: 30px;
    font-size: 150%;
}

table {
    border: 1px solid #FFDA56;
    table-layout: fixed;
    border-collapse: separate; 
}
th, td {
    border: 1px solid #FFDA56;
    background-color: #111111;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

a:link {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #111111;
    background-color: transparent;
    text-decoration: underline;
}

.rightfloat {
    margin-left: auto
}

.floater {
    position: sticky;
    top: 0;
}

.vcenter {
    display: flex;
    align-items: center;
}
.hcenter {
    display: flex;
    justify-content: center;
}
.acenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
