body {
    background-color: #A02E2B;
}

h1 {
    color: #FFDA56;
    margin: 10px;
}
h2 {
    color: #111111;
    margin: 15px;
    font-size: 200%;
    text-decoration: underline;
}

p {
    color: #FFDA56;
    padding: 30px;
    margin: 30px;
    font-size: 150%;
}

table {
    border: 1px collapse #FFDA56;
    border-collapse: collapse;
    padding: 30px;
    margin: 15px;
    table-layout: fixed;
}
th, td {
    border: 1px solid #FFDA56;
    background-color: #111111;
    padding: 15px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

a:link {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFDA56;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #111111;
    background-color: transparent;
    text-decoration: underline;
}

.rightfloat {
    margin-left: auto
}

.vcenter150b {
    display: flex;
    align-items: center;
    min-height: 150px;
    border: 5px solid #FFDA56; 
}
.hcenter150b {
    display: flex;
    justify-content: center;
    min-height: 150px;
    border: 5px solid #FFDA56; 
}
.acenter150b {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    border: 5px solid #FFDA56; 
}
.vcenter100b {
    display: flex;
    align-items: center;
    min-height: 100px;
    border: 5px solid #FFDA56; 
}
.hcenter100b {
    display: flex;
    justify-content: center;
    min-height: 100px;
    border: 5px solid #FFDA56; 
}
.acenter100b {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 5px solid #FFDA56; 
}

.vcenter150 {
    display: flex;
    align-items: center;
    min-height: 150px;
}
.hcenter150 {
    display: flex;
    justify-content: center;
    min-height: 150px;
}
.acenter150 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
.vcenter100 {
    display: flex;
    align-items: center;
    min-height: 100px;
}
.hcenter100 {
    display: flex;
    justify-content: center;
    min-height: 100px;
}
.acenter100 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}